<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Chanp Type-->
    <div class="form-group">
      <label for="typePresta">Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta"/>
    </div>

    <!-- Champ client -->
    <div class="form-group">
      <label for="client">Client (obligatoire, 5 caractères min)</label>
      <input formControlName="client" type="text" class="form-control" id="client"/>
    </div>
    <!--
      touched signifie qu'on a modifié au moins une fois le champ,
      donc pas quand on arrive sur la page
    -->
    <!--
    <div *ngIf="form.get('client').invalid && form.get('client').touched" class="alert alert-danger">
      Le client est invalide
    </div>
    -->
    <div *ngIf="form.get('client').errors?.required && form.get('client').touched" class="alert alert-danger">
      Le client est obligatoire
    </div>
    <div *ngIf="form.get('client').errors?.minlength && form.get('client').touched" class="alert alert-danger">
      Le client doit faire minimum 5 caractères
    </div>

    <!-- Champ Nombre de jours -->
    <div class="form-group">
      <label for="nbJours">Nombre de jours</label>
      <input formControlName="nbJours" type="number" class="form-control" id="nbJours"/>
    </div>

    <!-- Champ TJM -->
    <div class="form-group">
      <label for="tjmHT">TJM</label>
      <input formControlName="tjmHT" type="number" class="form-control" id="tjmHT"/>
    </div>

    <!-- Champ TVA -->
    <div class="form-group">
      <label for="tva">TVA (obligatoire)</label>
      <input formControlName="tva" type="number" class="form-control" id="tva"/>
    </div>
    <!--
      touched signifie qu'on a modifié au moins une fois le champ,
      donc pas quand on arrive sur la page
    -->
    <div *ngIf="form.get('tva').invalid && form.get('tva').touched" class="alert alert-danger">
      TVA invalide
    </div>

    <!-- Champ Etat -->
    <div class="form-group">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let s of states" [ngValue]="s">{{ s }}</option>
      </select>
    </div>

    <!-- Champ Commentaire -->
    <div class="form-group">
      <label for="comment">Commentaire</label>
      <textarea formControlName="comment" type="number" class="form-control" id="comment"></textarea>
    </div>

    <!-- Bouton SUBMIT -->
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Sauvegarder</button>

  </form>
</div><!-- container -->
