<app-titre-b *ngIf="route.data | async as datas"[title]="datas.title" [subtitle]="datas.subtitle">

  <app-table-dark *ngIf="clients | async as clientsList" [headers]="headers">
    <tr *ngFor="let c of clientsList">
      <td>
        <app-btn label="Détails client" route="details">
          <app-icon-add></app-icon-add>
        </app-btn>
        <app-btn label="Edit client2" action="true" route="edit">
          <app-icon-edit></app-icon-edit>
        </app-btn>
        <app-btn label="Delete client" action="true" (clicked)="deleteClient(c.id)">
          <app-icon-delete></app-icon-delete>
        </app-btn>
      </td>
      <td>{{ c.name }}</td>
      <td>{{ c.tva }}</td>
      <td>{{ c.ca }}</td>
      <td>{{ c.comment }}</td>
      <td>
        <select (change)="changeState(c, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === c.state"> {{ state }} </option>
        </select>
      </td>
      <td>{{ c.total() | currency : "EUR" }}</td>
    </tr>
  </app-table-dark>

  <app-btn [label]="btnAdd.label" [route]="btnAdd.route"></app-btn>

  <app-btn [label]="btnFilterCA.label" [action]="btnFilterCA.action" (clicked)="filterCALessThan100000()">
    <app-icon-filter *ngIf="!filtreClientsActif"></app-icon-filter>
  </app-btn>

</app-titre-b>
